@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model WebApplication6.Models.ContactInfo

<h2 style="color:green;">Add Contact</h2>

<form method="post">
    Contact Id: <input type="text" name="ContactId" /><br /><br />
    First Name: <input type="text" name="FirstName" /><br /><br />
    Last Name: <input type="text" name="LastName" /><br /><br />
    Company Name: <input type="text" name="CompanyName" /><br /><br />
    Email Id: <input type="text" name="EmailId" /><br /><br />
    Mobile No: <input type="text" name="MobileNo" /><br /><br />
    Designation: <input type="text" name="Designation" /><br /><br />

    <input type="submit" value="Add Contact" />
</form>

<br />
<a asp-controller="Contact" asp-action="ShowContacts">Back to List</a>
