body {
    font-family: Arial;
    background-color: #ECECEC;
}

.features {
    width: 600px;
    margin: 40px auto;
    text-align: center;
}

.features h2 {
    color: darkblue;
    margin-bottom: 30px;
}

ul {
    list-style-type: none;   
    padding: 0;
}

.features ul li {
    background-color: white;
    color: #333;
    border: 2px solid #4CAF50;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: 0.3s;
}

.features ul li:hover {
    background-color: #4CAF50;
    color: rgb(206, 108, 22);
    cursor: pointer;
}
